<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Demande enregistrée</title>
</head>

<body>
  <div class="basis-1/2 max-w-md mx-auto mt-4 p-4 bg-gray-100 rounded-md">
    <h2 class="text-center text-lg text-base font-semibold leading-7 text-gray-900">Demande enregistrée !</h2>
    <p class="text-justify">Ta demande a bien été prise en compte. Si les documents fournis ne sont pas correct, la commission compta te recontactera sur le mail que tu as fourni.</p>
  </div>
</body>
</html>